---
layout: layouts/home.njk
---
<p>This is Niklas's old blog. His new one is [pivic.blog](https://pivic.blog).</p>
<h2>Recent Posts</h2>
{% set maxPosts = collections.posts.length | min(3) %}
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>